.container {
  background-color: #fff;
  width: 60%;
  margin: 5rem auto;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  padding: 1.2rem 2.4rem;
}

.select {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.select h3 {
  font-weight: bold;
  font-size: 2.4rem;
}

.button {
  border: none;
  border-radius: 16px;
  background-color: #ffedd5;
  font-size: 2.4rem;
  padding: 0.4rem 1.6rem;
  cursor: pointer;
  font-weight: bold;
}

.button:hover {
  background-color: #fed7aa;
}

.left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: #ef4444;
}

.right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: #0369a1;
}
